@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-stars {
    animation: scrollStars 200s linear infinite;
    background-size: contain;
    background-repeat: repeat;
  }

  .stroke-text {
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
  }
}

@keyframes scrollStars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2000px;
  }
}
